body {
}
.col-md-3 {
    border: 2px solid #c2bdbd;
}
.myform form {
    font-size:14px;
}
.form-control:focus{
    border-color:#c4720e;
}
.btn {
    width: 100%;
    color: #000000;
    font-size: 2rem;
    background-color: rgba(252, 209, 131, 1);
    border-color: #4b291d;
}
.btn btn-block mybtn btn-primary tx-tfm{
        font-size:16px;
    }
.btn-primary
{
    background-color:#c4720e;
    border-color:#c4720e;
}
.span-or {
    display: block;
    position: absolute;
    left: 36%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
   
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}




.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rounded{
    width:10%;
    margin-bottom:1%;
    margin-top:1%;
}