

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Amazon.com - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Content/JS/slide.js"></script>
    <script src="~/Content/JS/productsController.js"></script>
    <script src="~/Content/JS/Cart.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin</div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","HomeAdmin")">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Details
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span>System</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">System:</h6>
                        <a class="collapse-item" href="#">Employees</a>
                        <a class="collapse-item" href="/Admin/Customers/Index">Customers</a>
                        <a class="collapse-item" href="/Admin/Footers/Index">Footers</a>
                        <a class="collapse-item" href="/Admin/Menus/Index">Menus</a>
                        <a class="collapse-item" href="/Admin/Slides/Index">Slides</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePr">
                    <i class="glyphicon glyphicon-gift"></i>
                    <span>Product</span>
                </a>
                <div id="collapsePr" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Product:</h6>
                        <a class="collapse-item" href="/Admin/Products/Index">Products</a>
                        <a class="collapse-item" href="/Admin/Ref_Product_Types/Index">Product Types</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                More
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>Accounts</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="/Admin/Login/Login">Login</a>
                        <a class="collapse-item" href="/User/Regist">Register</a>
     
                    </div>
                </div>
            </li>

          
        </ul>
        
        <div id="content-wrapper" class="d-flex flex-column">

          
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Content/JS/plugins/ckfinder/ckfinder.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
