@model Amazon.EntityFramework.Ref_Product_Types

@{
    ViewBag.Title = "Delete - Product Type";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel-heading">
            <h3>Product Type Delete</h3>
        </div>
        <div class="panel-body">

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <hr />
                <dl class="">
                    <dt>
                        Product Type Description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.product_type_description)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
                }
            </div>
        </div>
    </div>
</div>
